body{
  background-color: lightcoral;
}
 .App{
  background-color: antiquewhite;
  min-height: 550px;
  width: 400px;
  margin: 25px auto;
 }
 header h1{
  font-size: 20px;
  font-weight: lighter;
  font-family: cursive;
  text-align: center;
 }
 header h5{
  font-size: 18px;
  font-weight: 50px;
  font-family: 'Trebuchet MS';
  text-align: center;
 }
 #to-do-form input{
  background-color: powderblue;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px ;
  font-size: 18px;
  border-radius: 18px;
  color: rgb(31, 31, 30);
 }
 #to-do-form input::placeholder{
  color:black;
 }
 #to-do-form button{
  height: 45px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: gainsboro;
  cursor: pointer;
  font-weight: bolder;
  color: rgb(34, 31, 31);
 }
 